body {
	margin: 0;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.struct {
	position: absolute;
}

#weather {
	width: 100%;	
	height: 75%;
}

.forecast-struct {
	width: 50%;
	height: 25%;
	top: 75%;	
}

.background {
	background: #64b5f6;
	background: linear-gradient(to top, #64b5f6, #2196f3);
}

.tod-background {
	background: #42a5f5;
	background: linear-gradient(to top, #42a5f5, #64b5f6);
}

.tom-background {
	background: #2196f3;
	background: linear-gradient(to top,  #2196f3, #64b5f6);
}

.night-background {
	background: #111;
	background: linear-gradient(to top, #444, #111);
}

.night-tod-background {
	background: #222;
	background: linear-gradient(to top, #111, #444);
}

.night-tom-background {
	background: #333;
	background: linear-gradient(to top, #222, #444);
}

#tomorrow {
	left: 50%;
}

.details {
	text-align: right;
}

#now-caption, #dt {
	font-size: 5vmin;
}

#now-caption, #tod-caption, #tom-caption {
	top: 1%;
	left: 2%;
}

#tod-caption, #tom-caption {
	font-size: 4vmin;
}

#dt {
	text-align: right;
	width: 100%;
	top: 1%;
	right: 2%;
}

#pic, #tod-pic, #tom-pic {
	width: 34%;
	height: 37.5%;
	left: 33%;
	top: 6.75%;
}

#pic img, #tod-pic img, #tom-pic img {
	max-width: 100%;
	max-height: 100%;
}

#data, #tod-data, #tom-data {
	top: 43.25%;
	left: 12.5%;
	width: 75%;
}

#main\.temp, #tod-main\.temp-range, #tom-main\.temp-range, #pic, #tod-pic, #tom-pic {
	text-align: center;
}

#main\.temp {
	font-size: 25vmin;
}

#main {
	font-size: 7vmin;
}

#pressure {
	font-size: 8vmin;
}

#tod-main\.temp-range, #tom-main\.temp-range {
	font-size: 8vmin;
}

#tod-main, #tom-main {
	font-size: 4vmin;
}

#tod-pressure, #tom-pressure {
	font-size: 3.5vmin;
}

/*
#pic, #tod-pic, #tom-pic {
	background: red;
}

#data, #tod-data, #tom-data {
	background: red;
}

#weather {
	background: lightblue;
}

#today {
	background: red;
}

#tomorrow {
	background: yellow;
}
*/
