body {
	color: white;
	margin: 0;
}

div {
	position: absolute;
}

#now {
	width: 100%;
	height: 75%;
	background: #000;
}

#tod, #tom {
	width: 50%;
	height: 25%;
	top: 75%;
}

#tod {
}

#tom {
	left: 50%;
}

.time {
	left: 1%;
	top: 1%;
}

.status {
	top: 12.5%;
	width: 100%;
	height: 50%;
	text-align: center;
}

.status img {
	max-width: 100%;
	max-height: 100%;
}

.temp {
	top: 62.5%;
	left: 25%;
	width: 50%;
	height: 12.5%;
	font-size: 3vh;
	text-align: center;
}

.humidity, .pressure {
	height: 12.5%;
	top: 75%;
	font-size: 2vh;
}

.humidity {
	width: 25%;
	left: 25%;
}

.pressure {
	width: 50%;
	left: 50%;
}

body {
	background: green;
}

#now{
	background: #000;
}

#tod {
	background: #111;
}

#tom {
	background: #222;
}

.time, .status, .temp, .humidity {
	background: #333;
}

.pressure {
	background: #444;
}

