body {
	color: white;
	margin: 0;
}

div {
	position: absolute;
}

.forecast-item {
	width: 100%;
	height: 14%;
}

#forecast-item-1 {
	top: 14%;
}

#forecast-item-2 {
	top: 28%;
}

#forecast-item-3 {
	top: 42%;
}

#forecast-item-4 {
	top: 56%;
}

#forecast-item-5 {
	top: 70%;
}

#forecast-item-6 {
	top: 84%;
}
