body {
	background: green;
}

#now{
	background: #000;
}

#tod {
	background: #111;
}

#tom {
	background: #222;
}

.time, .status, .temp, .humidity {
	background: #333;
}

.pressure {
	background: #444;
}
